<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1 class="title">Movie Watchlist Organizer</h1>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/watchlist">Watchlist</a></li>
                <li>
                    <form action="/search" method="POST">
                        <label for="search">Search:</label>
                        <input type="text" id="search" name="query" placeholder="Search for a movie...">
                        <button type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <div class="movie-table">
        <h1>Search Results</h1>
        <table border="1">
            <thead> 
                <tr>
                    <th>Cover</th>
                    <th>Title</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody> 
                <% movies.forEach(movie => { %>
                    <tr>
                        <td rowspan="2">
                            <img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" 
                                alt="<%= movie.title %> Poster" 
                                style="width: 50px; height: auto;">
                        </td>
                        <td class="movie-title"><a href="/movie/<%= movie.id %>"><%= movie.title %></a></td>
                        <td rowspan="2"><%= movie.vote_average.toFixed(1) %>/10</td>
                    </tr>
                    <tr>
                        <td class="release-date"><%= movie.release_date %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>
